<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="tournament-container">
      
        <div class="tournament-brackets">
          <ul class="bracket bracket-1">
            <li class="team-item">{{matches.0.player1}}  vs  {{matches.1.player1}}</li>
            <li class="team-item">D1 vs 3BEF</li>
            <li class="team-item">B1 vs 3ACD</li>
            <li class="team-item">F1 vs E2</li>
            <li class="team-item">C1 vs 3ABF</li>
            <li class="team-item">E1 vs D2</li>
            <li class="team-item">A1 vs 3CDE</li>
            <li class="team-item">B2 vs F2</li>
          </ul>  
          <ul class="bracket bracket-2">
            <li class="team-item">QF1 vs QF2</li>
            <li class="team-item">QF3 vs QF4</li>
            <li class="team-item">QF5 vs QF6</li>
            <li class="team-item">QF7 vs QF8</li>
          </ul>  
          <ul class="bracket bracket-3">
            <li class="team-item">SF1 vs SF2</li>
            <li class="team-item">SF3 vs SF4</li>
          </ul>  
          <ul class="bracket bracket-4">
            <li class="team-item">F1 vs F2</li>
          </ul>  
      
          <ul class="bracket bracket-5">
            <li class="team-item">European Champions</li>
          </ul>  
        </div>
      </div>
</body>
</html>